<section class="jumbotron">
    <div class="container">
      <div class="row text-center">
        <h2>MyTube</h2>
        <h3>Favorite Videos</h3>
        <a class="btn btn-primary" href="#">See all</a>
      </div>
    </div>
  </section>
  
  
<section class="container">
  <div class="row">
    <div class="col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-primary">RDS & Aurora</h5>
          <div class="embed-responsive embed-responsive-16by9 rounded shadow">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eMzCI7S1P9M" allowfullscreen></iframe>
          </div>
          <p class="card-text mt-3">Learn about Amazon RDS and Aurora database services, including how to set up, configure, and manage them.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-primary">Eventbridge</h5>
          <div class="embed-responsive embed-responsive-16by9 rounded shadow">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TXh5oU_yo9M" allowfullscreen></iframe>
          </div>
          <p class="card-text mt-3">Learn how to use Amazon EventBridge to build event-driven applications and integrate with other AWS services.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-primary">MRSK</h5>
          <div class="embed-responsive embed-responsive-16by9 rounded shadow">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LL1cV2FXZ5I" allowfullscreen></iframe>
          </div>
          <p class="card-text mt-3">Learn how to use Amazon Managed Streaming for Kafka (MRSK) to build scalable, fault-tolerant streaming applications.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-primary">Serverless</h5>
          <div class="embed-responsive embed-responsive-16by9 rounded shadow">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dUXDuxqTxmo" allowfullscreen></iframe>
          </div>
          <p class="card-text mt-3">Learn how to build serverless applications using AWS Lambda, API Gateway, and other AWS services.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <a class="btn btn-primary btn-lg" href="#">View Complete Catalogue</a>
  </div>
</section>
