.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}


.card {
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-text {
  font-size: 0.9rem;
  color: #6c757d;
}


.embed-responsive:hover {
  box-shadow:
0 5px 15px rgba(0, 0, 0, 0.2);
transform: translateY(-3px);
}